<!DOCTYPE html>
<html>
  <head>
   <meta charset = "utf-8"/>
   <meta name="description" content="Introduction to some website"> 
   <title> Out awesome report </title>
   <link rel="css/style.css" type="text/css"/>
   <script type="text/javascipt" src="js/main.js"></script>
  </head>
  <body>
  <img src="highlighted.svg"/>
   <h1> Top Bandwidth </h1>
   <ul>
    {% for user, bytes in user_bytes[:5] %}
     <li>{{ user }}: {{ humanize(bytes) }} </li>
     {% endfor %}
   </ul>

   <h1> Top viseted </h1>
   <ul>
    {% for url, hits in url_hits[:5] %}
     <li>
      <a href = "http://enos.itcollege.ee {{ url }}">
       enos.itcollege.ee{{ url}}
      </a>
     </li>
    {%endfor %}
   </ul>
  </body>
</html>

